{% extends "base.html" %}

{% block title %}about{% endblock %}

{% block styles %}
<style>
    .profile-img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1.5rem;
        border: 4px solid #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
</style>
{% endblock %}

{% block background %}
<img src="{{ url_for('static', filename='images/about-back.gif') }}" class="gif-background" alt="about background">
{% endblock %}

{% block content %}
<main class="px-3 text-center">
    <img src="{{ url_for('static', filename='images/photo.jpg') }}" alt="Profile" class="profile-img">
    <h1>Balyshev A.M</h1>
    <p class="lead text-white-50">SPbU SE '28 student</p>
    <h4>About me:</h4>
    <ul class="list-unstyled text-white-50 mb-3">
        <li>💻 RISC-V compiler engineer</li>
        <li>👩🏻‍🔬 FP fan</li>
        <li>😝 OOP hater</li>
        <li>🕸️ beginner web developer</li>
    </ul>
    <a href="{{ url_for('index') }}" class="btn btn-lg btn-outline-light fw-bold">Back to Home</a>
</main>
{% endblock %}