{% extends "base.html" %}

{% block title %}contacts{% endblock %}

<!-- custom back -->
{% block background %}
<img src="{{ url_for('static', filename='images/base-back.gif') }}" class="page-background" alt="contacts background">
{% endblock %}
<!-- /custom back -->

{% block content %}
<h1>Контактные данные</h1>
<p class="lead text-white-50">Свяжитесь со мной удобным способом</p>
<div class="row justify-content-center">
    <div class="col-md-6 text-start">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent text-white border-0">
                <strong>Telegram:</strong> <a href="https://t.me/psiblvdegod"
                    class="text-white text-decoration-none">@psiblvdegod</a>
            </li>
            <li class="list-group-item bg-transparent text-white border-0">
                <strong>GitHub:</strong> <a href="https://github.com/psiblvdegod"
                    class="text-white text-decoration-none">github.com/psiblvdegod</a>
            </li>
        </ul>
        <div class="mt-4 text-center">
            <a href="{{ url_for('index') }}" class="btn btn-lg btn-outline-light fw-bold">На главную</a>
        </div>
    </div>
</div>
{% endblock %}